.option-item {
  cursor: pointer;
  text-align: left;
  word-wrap: break-word;
  word-break: keep-all;
  line-height: 140%;
  font-size: 1.05rem;
  padding: 10px 8px;
}

/* .option-item:hover {
  background-color: #f5f5f5;
} */

.hover-option-item {
  background-color: #f5f5f5;
}

.active-option-item {
  background-color: #eff4fb !important;
}

.active-hover-item {
  background-color: #e7eef9 !important;
}
