.option-item {
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  padding: 15px 8px;
}

.option-item:hover {
  background-color: #f5f5f5;
}

.active-option-item {
  background-color: #eff4fb;
}

.hover-option-item {
  background-color: #f5f5f5;
}
